.mainHeader {

	width: 80%;
	max-width: 800px;
	min-width: 240px;
	margin: 0px auto;
	background-color: rgba(45, 227, 108, 0.51);
	padding: 15px;
    text-align: center;
	

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	margin-top: 30px;
}

.mainBody {

	width: 90%;
	max-width: 800px;
	min-width: 240px;
	margin: 0px auto;
	background-color: rgba(45, 227, 227, 0.33);
	padding: 15px;
	

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	margin-top: 30px;
}

.partsContainer {

	width: 90%;
	max-width: 800px;
	min-width: 240px;
	margin: 0px auto;
	background-color: rgba(224, 74, 7, 0.56);
	padding: 15px;
	

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	margin-top: 30px;
}

.partObject{    
	width: 10%;
	margin: 1px auto;
    border: 1px dotted rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	padding: 7px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
}


.partContainer {
	width: 10%;
	margin: 1px auto;
    border: 1px dotted rgb(0, 0, 0);
	background-color: rgba(45, 227, 227, 0.33);
	padding: 7px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
}

.separatorPartContainer {
    font-weight: bold;
    border: 1px dotted rgb(0, 0, 0);
	background-color: rgba(45, 227, 227, 0.33);
	padding: 7px;
    text-align: center;
	
    display: inline-block;

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
}

.grammContainer{

	width: 95%;
    margin: 5px auto;
    border: 2px dashed rgb(0, 0, 0);
	background-color: rgba(133, 142, 142, 0.24);
	padding: 15px;
	

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	margin-top: 30px;
    
}

/*.grammContainer{

	width: 95%;
	max-width: 800px;
	min-width: 240px;
    margin: 5px auto;
    border: 2px dashed rgb(0, 0, 0);
	background-color: rgba(187, 196, 196, 0.46);
	padding: 15px;
	

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius: 15px;
	margin-top: 30px;
    
}*/